In [29]:

import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
books = pd.read_csv('Dataset/Books.csv')
ratings = pd.read_csv('Dataset/Ratings.csv')
users = pd.read_csv('Dataset/Users.csv')

C:\Users\Hiten\AppData\Local\Temp\ipykernel_20908\1491569914.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Dataset/Books.csv')

In [31]:
books['Image-URL-M'][1]

'http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg'

In [32]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [33]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [34]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [35]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

Popularity Based Recommendation Model

In [36]:
Book_Ratings=ratings.merge(books, on="ISBN")
Book_Ratings.groupby('Book-Title').count()

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4,4,4,4,4,4
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã?Â?lpiraten.,2,2,2,2,2,2,2,2,2
Ã?Â?rger mit Produkt X. Roman.,4,4,4,4,4,4,4,4,4
Ã?Â?sterlich leben.,1,1,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,3,3,3,3,3,3,3,3,3
Ã?Â?thique en toc,2,2,2,2,2,2,2,2,2

In [37]:
num_rating_df = Book_Ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [38]:
avg_rating_df = Book_Ratings.groupby('Book-Title')['Book-Rating'].agg(lambda x: x.astype(float).mean()).reset_index()
avg_rating_df.rename(columns = {'Book-Rating' : 'avg_rating'}, inplace = True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [57]:
popular_book_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_book_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [58]:
popular_book_df = popular_book_df[popular_book_df['num_ratings']>=100].sort_values('avg_rating',ascending=False).head(25)
popular_book_df = popular_book_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]
popular_book_df

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,The Little Prince,Antoine de Saint-ExupÃ©ry,http://images.amazon.com/images/P/0156528207.0...,141,5.815603
10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
14,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
18,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,http://images.amazon.com/images/P/0312853238.0...,249,5.409639
22,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
25,The Perks of Being a Wallflower,Stephen Chbosky,http://images.amazon.com/images/P/0671027344.0...,104,5.144231
27,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
28,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
37,The Giver (21st Century Reference),LOIS LOWRY,http://images.amazon.com/images/P/0440219078.0...,179,4.916201
39,Ishmael: An Adventure of the Mind and Spirit,Daniel Quinn,http://images.amazon.com/images/P/0553375407.0...,162,4.907407
40,Interpreter of Maladies,Jhumpa Lahiri,http://images.amazon.com/images/P/039592720X.0...,136,4.897059
43,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
45,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
56,Anne Frank: The Diary of a Young Girl,ANNE FRANK,http://images.amazon.com/images/P/0553296981.0...,142,4.852113
60,Charlotte's Web (Trophy Newbery),E. B. White,http://images.amazon.com/images/P/0064400557.0...,129,4.782946
61,The Other Boleyn Girl,Philippa Gregory,http://images.amazon.com/images/P/0743227441.0...,159,4.761006
63,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
71,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
77,Stranger in a Strange Land (Remembering Tomorrow),Robert A. Heinlein,http://images.amazon.com/images/P/0441790348.0...,130,4.615385
78,Dune (Remembering Tomorrow),Frank Herbert,http://images.amazon.com/images/P/0441172717.0...,146,4.609589
79,Fight Club,Chuck Palahniuk,http://images.amazon.com/images/P/0805062971.0...,102,4.607843
83,The Last Juror,John Grisham,http://images.amazon.com/images/P/0385510438.0...,117,4.564103
87,Siddhartha,Hermann Hesse,http://images.amazon.com/images/P/0553208845.0...,172,4.563953

Collaborative Filtering based Recommendation System

In [59]:
x = Book_Ratings.groupby('User-ID').count()['Book-Rating'] > 200
active_users = x[x].index

filtered_rating = Book_Ratings[Book_Ratings['User-ID'].isin(active_users)]
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [60]:
final_book_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [61]:
final_book_ratings.shape

(58586, 10)

In [62]:
final_book_ratings.drop_duplicates(['User-ID','Book-Title'],inplace=True)

C:\Users\Hiten\AppData\Local\Temp\ipykernel_20908\3718251774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_book_ratings.drop_duplicates(['User-ID','Book-Title'],inplace=True)

In [63]:
final_book_ratings.shape

(56629, 10)

In [64]:
pt = final_book_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

sc

In [65]:
book_similarity_scores = cosine_similarity(pt)

In [67]:
def book_recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(book_similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]

    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))

        data.append(item)

    return data

In [68]:
book_recommend("Wild Animus")

[['Pay It Forward',
  'Catherine Ryan Hyde',
  'http://images.amazon.com/images/P/0743412028.01.MZZZZZZZ.jpg'],
 ['At Home in Mitford (The Mitford Years)',
  'Jan Karon',
  'http://images.amazon.com/images/P/014025448X.01.MZZZZZZZ.jpg'],
 ['The Andromeda Strain',
  'MICHAEL CRICHTON',
  'http://images.amazon.com/images/P/0345378482.01.MZZZZZZZ.jpg'],
 ['The First Counsel',
  'Brad Meltzer',
  'http://images.amazon.com/images/P/0446527289.01.MZZZZZZZ.jpg']]

In [50]:
from sklearn.neighbors import NearestNeighbors

def recommend2(book_name, pt, books_data, n_neighbors=4):
    model = NearestNeighbors(metric='cosine', algorithm='brute')
    model.fit(pt)

    query_index = pt.index.get_loc(book_name)
    distances, indices = model.kneighbors([pt.iloc[query_index]], n_neighbors=n_neighbors+1)

    similar_indices = indices.flatten()[1:]  # Exclude the first item (itself)
    similarity_scores = distances.flatten()[1:]  # Exclude the first item (itself)

    recommended_books = []
    for idx, sim_score in zip(similar_indices, similarity_scores):
        book_title = pt.index[idx]
        temp_df = books_data[books_data['Book-Title'] == book_title].drop_duplicates('Book-Title')
        if len(temp_df) > 0:  # Ensure there's matching data
            item = [
                temp_df['Book-Title'].values[0],
                temp_df['Book-Author'].values[0],
                temp_df['Image-URL-M'].values[0]
            ]
            recommended_books.append(item)

    return recommended_books

In [51]:
from sklearn.neighbors import NearestNeighbors

def recommend2(book_name, pt, n_neighbors=4):
    model = NearestNeighbors(metric='cosine', algorithm='brute')
    model.fit(pt)

    query_index = pt.index.get_loc(book_name)
    distances, indices = model.kneighbors([pt.iloc[query_index]], n_neighbors=n_neighbors+1)

    similar_indices = indices.flatten()[1:]  # Exclude the first item (itself)
    similarity_scores = distances.flatten()[1:]  # Exclude the first item (itself)

    recommended_books = []
    for idx, sim_score in zip(similar_indices, similarity_scores):
        book_title = pt.index[idx]
        item = [book_title]
        recommended_books.append(item)

    return recommended_books

In [52]:
recommend2("Wild Animus",pt, 5)

[['Pay It Forward'],
 ['At Home in Mitford (The Mitford Years)'],
 ['The Andromeda Strain'],
 ['The First Counsel'],
 ['The Tao of Pooh']]

In [53]:
# from sklearn.neighbors import NearestNeighbors

# def recommend2(book_name):
#     query_index = pt.index.get_loc(book_name)
#     distances, indices = model.kneighbors([pt.iloc[query_index]], n_neighbors=4)
#     recommended_books = pt.index[indices.flatten()][1:]
#     recommended_data = []

#     for book in recommended_books:
#         temp_df = books[books['Book-Title'] == book]
#         item = [
#             temp_df.drop_duplicates('Book-Title')['Book-Title'].values[0],
#             temp_df.drop_duplicates('Book-Title')['Book-Author'].values[0],
#             temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values[0]
#         ]
#         recommended_data.append(item)

#     return recommended_data

In [71]:
import pickle
pickle.dump(popular_book_df,open('popular.pkl','wb'))
popular_book_df.to_csv('popular_books.csv', index=False)

In [70]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))